<mat-card class="main-card">
  
    <mat-card-title>Open Positions</mat-card-title>
    <mat-card-content>
      <p>as of 2/20/22</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <div>
        <ng-container >
          <div class="tileBody">
              <div class="tileBodyRow">
                  <div class="es">
                    <a class="viewMoreLink" [routerLink]="['/opentrans']"  routerLinkActive="router-link-active">
                    <p class="card-sub-heading"> ES </p>
                      <p class="value"> 10 @ 4,315 </p>
                      <p class="value1"> (-2) @ 4,308</p>
                    </a>
                  </div>
                  <div class="esfop">
                      <p class="card-sub-heading">ES FOP  </p>
                      <p class="value">12 </p>
                      <p class="value1"> (-7) </p>
                  </div>
                  <div class="btc">
                    <p class="card-sub-heading"> BTC</p>
                    <p class="value">2 @ 44,188 </p>
                      <p class="value1"> (-1) @ 44,000 </p>
                </div>
                <div class="eth">
                  <p class="card-sub-heading"> ETH</p>
                  <p class="value">4 @ 3887</p>
                      <p class="value1"> (-3) @ 3800</p>
              </div>
              </div>
          </div>
       
          
      </ng-container>
      </div>
    </mat-card-actions>
    <mat-card-footer>
      
    </mat-card-footer>
  </mat-card>