<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Txn No Column -->
      <ng-container matColumnDef="txtno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Txn No </th>
        <td mat-cell *matCellDef="let row"> {{row.txtno}} </td>
      </ng-container>
  
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date}}% </td>
      </ng-container>
  
      <!-- Underlying Column -->
      <ng-container matColumnDef="underlying">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Underlying </th>
        <td mat-cell *matCellDef="let row"> {{row.underlying}} </td>
      </ng-container>
  
      <!-- Asset Class Column -->
      <ng-container matColumnDef="asset">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Asset Class </th>
        <td mat-cell *matCellDef="let row"> {{row.asset}} </td>
      </ng-container>
  
      <!-- Descr Column -->
      <ng-container matColumnDef="descr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descr </th>
        <td mat-cell *matCellDef="let row"> {{row.descr}} </td>
      </ng-container>
  
      <!-- Opened On Column -->
      <ng-container matColumnDef="opened">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opened On </th>
        <td mat-cell *matCellDef="let row"> {{row.opened}} </td>
      </ng-container>
      <!-- Qty Column -->
      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty </th>
        <td mat-cell *matCellDef="let row"> {{row.qty}} </td>
      </ng-container>
  
      <!-- O Price Column -->
      <ng-container matColumnDef="oprice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> O Price </th>
        <td mat-cell *matCellDef="let row"> {{row.oprice}} </td>
      </ng-container>
  
      <!-- O Commission Column -->
      <ng-container matColumnDef="ocommission">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> O Commission </th>
        <td mat-cell *matCellDef="let row"> {{row.ocommission}} </td>
      </ng-container>

      <!--Closed On Column -->
      <ng-container matColumnDef="closed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Closed On </th>
        <td mat-cell *matCellDef="let row"> {{row.closed}} </td>
      </ng-container>

      <!-- C Price Column -->
      <ng-container matColumnDef="cprice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> C Price </th>
        <td mat-cell *matCellDef="let row"> {{row.cprice}} </td>
      </ng-container>

      <!-- C Commission Column -->
      <ng-container matColumnDef="ccommission">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> C Commission </th>
        <td mat-cell *matCellDef="let row"> {{row.ccommission}} </td>
      </ng-container>

      <!-- Gain Column -->
      <ng-container matColumnDef="gain">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gain </th>
        <td mat-cell *matCellDef="let row"> {{row.gain}} </td>
      </ng-container>

      <!-- Day of Week Column -->
      <ng-container matColumnDef="week">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Day of Week </th>
        <td mat-cell *matCellDef="let row"> {{row.week}} </td>
      </ng-container>

      <!-- Days Column -->
      <ng-container matColumnDef="days">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Days </th>
        <td mat-cell *matCellDef="let row"> {{row.days}} </td>
      </ng-container>

      <!-- Hours Column -->
      <ng-container matColumnDef="hours">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hours </th>
        <td mat-cell *matCellDef="let row"> {{row.hours}} </td>
      </ng-container>

      <!-- Minutes Column -->
      <ng-container matColumnDef="min">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Minutes </th>
        <td mat-cell *matCellDef="let row"> {{row.min}} </td>
      </ng-container>

      <!-- Seconds Column -->
      <ng-container matColumnDef="sec">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Seconds </th>
        <td mat-cell *matCellDef="let row"> {{row.sec}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  