.main-card {
    max-width: 50%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    height: 200px;
    text-align: center;
  }
  
.tileBody {min-height: 400px;     flex: 1 1;   padding: 15px 10px 5px 10px;}
.tileBody p { margin: 5px 0;}
.tileBodyRow {display: flex;justify-content: center; text-align: center;}
.details {display: flex;flex-wrap: wrap;}
.detailValue {font-weight: bold;color: #017CAD;font-size: 18px;}
.es {border: 2px solid #bdb9b9; border-radius: 5px;}
.esfop {border: 2px solid #bdb9b9; border-radius: 5px;}
.btc {border: 2px solid #bdb9b9; border-radius: 5px;}
.eth {border: 2px solid #bdb9b9; border-radius: 5px;}
.es, .esfop, .btc, .eth { min-width: 120px; padding: 10px; margin: 0px;width: 50%;font-size: 16px;}
.es p, .esfop p, .btc p, .eth p { margin: 5px auto;font-size: 22px;font-weight: bold;}
.es .value, .esfop .value, .btc .value, .eth .value {font-size: 20px;margin-top:25px;}
