<mat-card class="main-card">
  
    <mat-card-title>Total P/L:   17,000</mat-card-title>
    <mat-card-content>
      <p>as of 2/20/22</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <div>
        <ng-container >
          <div class="tileBody">
              <div class="tileBodyRow">
                
                  <div class="es">
                    <a class="viewMoreLink" [routerLink]="['/transaction']"  routerLinkActive="router-link-active">
                     <p class="card-sub-heading"> ES </p>
                      <p class="value"> 8000 </p>
                    </a>
                  </div>
                  
                  <div class="esfop">
                      <p class="card-sub-heading">ES FOP  </p>
                      <p class="value">1000</p>
                  </div>
                  <div class="btc">
                    <p class="card-sub-heading"> BTC</p>
                    <p class="value">1000</p>
                </div>
                <div class="eth">
                  <p class="card-sub-heading"> ETH</p>
                  <p class="value">1000</p>
              </div>
              </div>
          </div>
       
          
      </ng-container>
      </div>
    </mat-card-actions>
    <mat-card-footer>
      
    </mat-card-footer>
  </mat-card>